USE [SEGUIMIENTO_EGRESADOS]
GO
/****** Object:  StoredProcedure [dbo].[SP_SetPreguntas]    Script Date: 7/3/2022 5:04:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SetPreguntas]
	@idpregunta int = null,
	@ip_nombres varchar(100) = null,
	@ip_apellidopaterno varchar(100)= null,
	@ip_apellidomaterno varchar(100)= null,
	@ip_matricula varchar(100)= null,
	@ip_correoelectronicopersonal varchar(100)= null,
	@ip_numerotelefono varchar(100)= null,
	@dg_estadocivil varchar(100)= null,
	@dg_ultimonivelescolar varchar(100)= null,
	@dg_institucionestudiasactualmente varchar(100)= null,
	@sl_preg1 varchar(100)= null,
	@sl_preg2 varchar(100)= null,
	@sl_preg3 varchar(100)= null,
	@sl_preg4 varchar(100)= null,
	@sl_preg5_1 varchar(20)= null,
	@sl_preg5_2 varchar(20)= null,
	@sl_preg5_3 varchar(20)= null,
	@sl_preg5_4 varchar(20)= null,
	@sl_preg5_5 varchar(20)= null,
	@sl_preg6_1_nombreempresa varchar(150)= null,
	@sl_preg6_2_municipio varchar(100)= null,
	@sl_preg6_3_estado varchar(100)= null,
	@sl_preg7 varchar(20)= null,
	@sl_preg8 varchar(100)= null,
	@sl_preg9 varchar(100)= null,
	@sl_preg10 varchar(50)= null,
	@sl_preg11 varchar(50)= null,
	@sl_preg12 varchar(100)= null,
	@sl_preg13 varchar(20)= null,
	@sl_preg14_1 varchar(100)= null,
	@sl_preg14_2 varchar(100)= null,
	@sl_preg14_3 varchar(100)= null,
	@sl_preg14_4 varchar(100)= null,
	@sl_preg14_5 varchar(100)= null,
	@sl_preg14_6 varchar(100)= null,
	@sl_preg14_7 varchar(100)= null,
	@sl_preg14_8 varchar(100)= null,
	@sl_preg14_9 varchar(100)= null,
	@sl_preg14_10 varchar(100)= null,
	@sl_preg14_11 varchar(100)= null,
	@sl_preg14_12 varchar(100)= null,
	@sl_preg15 varchar(50)= null,
	@sl_preg16 varchar(50)= null,
	@sl_preg17_1 varchar(25)= null,
	@sl_preg17_2 varchar(25)= null,
	@sl_preg17_3 varchar(25)= null,
	@sl_preg17_4 varchar(25)= null,
	@sl_preg17_5 varchar(25)= null,
	@sl_preg17_6 varchar(25)= null,
	@sl_preg17_7 varchar(25)= null,
	@sl_preg17_8 varchar(25)= null,
	@sl_preg17_9 varchar(25)= null,
	@sl_preg17_10 varchar(25)= null,
	@sl_preg17_11 varchar(25)= null,
	@sl_preg18_1 varchar(25)= null,
	@sl_preg18_2 varchar(25)= null,
	@sl_preg18_3 varchar(25)= null,
	@sl_preg18_4 varchar(25)= null,
	@sl_preg18_5 varchar(25)= null,
	@sl_preg18_6 varchar(25)= null,
	@sl_preg18_7 varchar(25)= null,
	@sl_preg18_8 varchar(25)= null,
	@sl_preg18_9 varchar(25)= null,
	@sl_preg18_10 varchar(25)= null,
	@sl_preg18_11 varchar(25)= null,
	@sl_preg19_1 varchar(25)= null,
	@sl_preg19_2 varchar(25)= null,
	@sl_preg19_3 varchar(25)= null,
	@sl_preg19_4 varchar(25)= null,
	@sl_preg19_5 varchar(25)= null,
	@sl_preg19_6 varchar(25)= null,
	@sl_preg19_7 varchar(25)= null,
	@sl_preg19_8 varchar(25)= null,
	@sl_preg19_9 varchar(25)= null,
	@sl_preg19_10 varchar(25)= null,
	@sl_preg20_1 varchar(25)= null,
	@sl_preg20_2 varchar(25)= null,
	@sl_preg20_3 varchar(25)= null,
	@sl_preg20_4 varchar(25)= null,
	@sl_preg20_5 varchar(25)= null,
	@sl_preg20_6 varchar(25)= null,
	@sl_preg20_7 varchar(25)= null,
	@sl_preg20_8 varchar(25)= null,
	@sl_preg20_9 varchar(25)= null,
	@sl_preg20_10 varchar(25)= null,
	@sl_preg20_11 varchar(25)= null,
	@sl_preg20_12 varchar(25)= null,
	@sl_preg20_13 varchar(25)= null,
	@sl_preg21 varchar(50)= null,
	@sl_preg22 varchar(50)= null,
	@respest int,
	@respest2 int,
	@op int=0
AS
BEGIN
	IF @op=1
		INSERT INTO PREGUNTAS(IP_Nombres, IP_ApellidoPaterno, IP_ApellidoMaterno, IP_Matricula, IP_CorreoElectronicoPersonal, IP_NumeroTelefono, 
		DG_EstadoCivil, DG_UltimoNivelEscolar, DG_InstitucionEstudiasActualmente, SL_PREG1, SL_PREG2, SL_PREG3, SL_PREG4, SL_PREG5_1, SL_PREG5_2, SL_PREG5_3, 
		SL_PREG5_4, SL_PREG5_5, SL_PREG6_1_NombreEmpresa, SL_PREG6_2_Municipio, SL_PREG6_3_Estado, SL_PREG7, SL_PREG8, SL_PREG9, SL_PREG10, SL_PREG11, SL_PREG12, 
		SL_PREG13, SL_PREG14_1,  SL_PREG14_2, SL_PREG14_3, SL_PREG14_4, SL_PREG14_5, SL_PREG14_6, SL_PREG14_7, SL_PREG14_8, SL_PREG14_9, SL_PREG14_10, SL_PREG14_11, 
		SL_PREG14_12, SL_PREG15, SL_PREG16, SL_PREG17_1,  SL_PREG17_2, SL_PREG17_3, SL_PREG17_4, SL_PREG17_5, SL_PREG17_6, SL_PREG17_7, SL_PREG17_8, SL_PREG17_9, 
		SL_PREG17_10, SL_PREG17_11, SL_PREG18_1, SL_PREG18_2, SL_PREG18_3, SL_PREG18_4, SL_PREG18_5, SL_PREG18_6, SL_PREG18_7, SL_PREG18_8, SL_PREG18_9, SL_PREG18_10, 
		SL_PREG18_11, SL_PREG19_1, SL_PREG19_2, SL_PREG19_3, SL_PREG19_4, SL_PREG19_5, SL_PREG19_6, SL_PREG19_7, SL_PREG19_8, SL_PREG19_9, SL_PREG19_10, SL_PREG20_1, 
		SL_PREG20_2, SL_PREG20_3, SL_PREG20_4, SL_PREG20_5, SL_PREG20_6, SL_PREG20_7, SL_PREG20_8, SL_PREG20_9, SL_PREG20_10,SL_PREG20_11, SL_PREG20_12, SL_PREG20_13, 
		SL_PREG21, SL_PREG22)
		VALUES (@ip_nombres, @ip_apellidopaterno, @ip_apellidomaterno, @ip_matricula, @ip_correoelectronicopersonal, @ip_numerotelefono, 
		@dg_estadocivil, @dg_ultimonivelescolar, @dg_institucionestudiasactualmente, @sl_preg1, @sl_preg2, @sl_preg3, @sl_preg4, @sl_preg5_1, @sl_preg5_2, @sl_preg5_3, 
		@sl_preg5_4, @sl_preg5_5, @sl_preg6_1_nombreempresa, @sl_preg6_2_municipio, @sl_preg6_3_estado, @sl_preg7, @sl_preg8, @sl_preg9, @sl_preg10, @sl_preg11, @sl_preg12, 
		@sl_preg13, @sl_preg14_1,  @sl_preg14_2, @sl_preg14_3, @sl_preg14_4, @sl_preg14_5, @sl_preg14_6, @sl_preg14_7, @sl_preg14_8, @sl_preg14_9, @sl_preg14_10, @sl_preg14_11, 
		@sl_preg14_12, @sl_preg15, @sl_preg16, @sl_preg17_1,  @sl_preg17_2, @sl_preg17_3, @sl_preg17_4, @sl_preg17_5, @sl_preg17_6, @sl_preg17_7, @sl_preg17_8, @sl_preg17_9, 
		@sl_preg17_10, @sl_preg17_11, @sl_preg18_1, @sl_preg18_2, @sl_preg18_3, @sl_preg18_4, @sl_preg18_5, @sl_preg18_6, @sl_preg18_7, @sl_preg18_8, @sl_preg18_9, @sl_preg18_10, 
		@sl_preg18_11, @sl_preg19_1, @sl_preg19_2, @sl_preg19_3, @sl_preg19_4, @sl_preg19_5, @sl_preg19_6, @sl_preg19_7, @sl_preg19_8, @sl_preg19_9, @sl_preg19_10, @respest, 
		@respest2, @sl_preg20_3, @sl_preg20_4, @sl_preg20_5, @sl_preg20_6, @sl_preg20_7, @sl_preg20_8, @sl_preg20_9, @sl_preg20_10, @sl_preg20_11, @sl_preg20_12, @sl_preg20_13, 
		@sl_preg21, @sl_preg22)
	ELSE IF @op=2
		UPDATE PREGUNTAS SET IP_Nombres=@ip_nombres, IP_ApellidoPaterno=@ip_apellidopaterno, IP_ApellidoMaterno=@ip_apellidomaterno, IP_Matricula=@ip_matricula, 
		IP_CorreoElectronicoPersonal=@ip_correoelectronicopersonal, IP_NumeroTelefono=@ip_numerotelefono, DG_EstadoCivil=@dg_estadocivil, DG_UltimoNivelEscolar=@dg_institucionestudiasactualmente,
		DG_InstitucionEstudiasActualmente=@dg_institucionestudiasactualmente, SL_PREG1=@sl_preg1, SL_PREG2=@sl_preg2, SL_PREG3=@sl_preg3, SL_PREG4=@sl_preg4, SL_PREG5_1=@sl_preg5_1, SL_PREG5_2=@sl_preg5_2, SL_PREG5_3=@sl_preg5_3, 
		SL_PREG5_4=@sl_preg5_4, SL_PREG5_5=@sl_preg5_5, SL_PREG6_1_NombreEmpresa=@sl_preg6_1_nombreempresa, SL_PREG6_2_Municipio=@sl_preg6_2_municipio, SL_PREG6_3_Estado=@sl_preg6_3_estado, SL_PREG7=@sl_preg7, SL_PREG8=@sl_preg8, SL_PREG9=@sl_preg9, SL_PREG10=@sl_preg10, SL_PREG11=@sl_preg11, SL_PREG12=@sl_preg12, 
		SL_PREG13=@sl_preg13, SL_PREG14_1=@sl_preg14_1,  SL_PREG14_2=@sl_preg14_2, SL_PREG14_3=@sl_preg14_3, SL_PREG14_4=@sl_preg14_4, SL_PREG14_5=@sl_preg14_5, SL_PREG14_6=@sl_preg14_6, SL_PREG14_7=@sl_preg14_7, SL_PREG14_8=@sl_preg14_8, SL_PREG14_9=@sl_preg14_9, SL_PREG14_10=@sl_preg14_10, SL_PREG14_11=@sl_preg14_11, 
		SL_PREG14_12=@sl_preg14_12, SL_PREG15=@sl_preg15, SL_PREG16=@sl_preg16, SL_PREG17_1=@sl_preg17_1,  SL_PREG17_2=@sl_preg17_2, SL_PREG17_3=@sl_preg17_3, SL_PREG17_4=@sl_preg17_4, SL_PREG17_5=@sl_preg17_5, SL_PREG17_6=@sl_preg17_6, SL_PREG17_7=@sl_preg17_7, SL_PREG17_8=@sl_preg17_8, SL_PREG17_9=@sl_preg17_9, 
		SL_PREG17_10=@sl_preg17_10, SL_PREG17_11=@sl_preg17_11, SL_PREG18_1=@sl_preg18_1, SL_PREG18_2=@sl_preg18_2, SL_PREG18_3=@sl_preg18_3, SL_PREG18_4=@sl_preg18_4, SL_PREG18_5=@sl_preg18_5, SL_PREG18_6=@sl_preg18_6, SL_PREG18_7=@sl_preg18_7, SL_PREG18_8=@sl_preg18_8, SL_PREG18_9=@sl_preg18_9, SL_PREG18_10=@sl_preg18_10, 
		SL_PREG18_11=@sl_preg18_11, SL_PREG19_1=@sl_preg19_1, SL_PREG19_2=@sl_preg19_2, SL_PREG19_3=@sl_preg19_3, SL_PREG19_4=@sl_preg19_4, SL_PREG19_5=@sl_preg19_5, SL_PREG19_6=@sl_preg19_6, SL_PREG19_7=@sl_preg19_7, SL_PREG19_8=@sl_preg19_8, SL_PREG19_9=@sl_preg19_9, SL_PREG19_10=@sl_preg19_10, SL_PREG20_1=@sl_preg20_1, 
		SL_PREG20_2=@sl_preg20_2, SL_PREG20_3=@sl_preg20_3, SL_PREG20_4=@sl_preg20_4, SL_PREG20_5=@sl_preg20_5, SL_PREG20_6=@sl_preg20_6, SL_PREG20_7=@sl_preg20_7, SL_PREG20_8=@sl_preg20_8, SL_PREG20_9=@sl_preg20_9, SL_PREG20_10=@sl_preg20_10,SL_PREG20_11=@sl_preg20_11, SL_PREG20_12=@sl_preg20_12, SL_PREG20_13=@sl_preg20_13, 
		SL_PREG21=@sl_preg21, SL_PREG22=@sl_preg22
		WHERE (IdPregunta=@idpregunta)
	ELSE IF @op=3
        DELETE FROM PREGUNTAS WHERE (IdPregunta=@idpregunta)
END
