USE [SEGUIMIENTO_EGRESADOS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPreguntasViewModel]    Script Date: 7/22/2022 3:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerPreguntasViewModel2]
AS
BEGIN

SELECT * FROM PREGUNTAS;

SELECT 
PREGUNTAS.IdPregunta, PREGUNTAS.IP_Nombres, PREGUNTAS.IP_ApellidoPaterno, PREGUNTAS.IP_ApellidoMaterno, PREGUNTAS.IP_Matricula, PREGUNTAS.IP_CorreoElectronicoPersonal, PREGUNTAS.IP_NumeroTelefono, 
ESTADOCIVIL.Pregunta as Estado_Civil, NIVELESCOLAR.Pregunta as Ultimo_NivelEscolar, INSTITUTOACTUAL.Pregunta as DG_InstitucionEstudiasActualmente, P1.Pregunta as SL_PREG1, PREGUNTAS.SL_PREG2, P3.Pregunta as SL_PREG3, P4.Pregunta as SL_PREG4, 
P5_1.Pregunta AS SL_PREG5_1, P5_2.Pregunta as SL_PREG5_2, P5_3.Pregunta as SL_PREG5_3, P5_4.Pregunta as SL_PREG5_4, P5_5.Pregunta as SL_PREG5_5, PREGUNTAS.SL_PREG6_1_NombreEmpresa, PREGUNTAS.SL_PREG6_2_Municipio, 
PREGUNTAS.SL_PREG6_3_Estado, P7.Pregunta as SL_PREG7, P8.Pregunta as SL_PREG8, P9.Pregunta as SL_PREG9, P10.Pregunta as SL_PREG10, P11.Pregunta as SL_PREG11, P12.Pregunta as SL_PREG12, P13.Pregunta as SL_PREG13,
P14_1.Pregunta as SL_PREG14_1,  P14_2.Pregunta as SL_PREG14_2, P14_3.Pregunta as SL_PREG14_3, P14_4.Pregunta as SL_PREG14_4, P14_5.Pregunta as SL_PREG14_5, P14_6.Pregunta as SL_PREG14_6, P14_7.Pregunta as SL_PREG14_7, P14_8.Pregunta as SL_PREG14_8, 
P14_9.Pregunta as SL_PREG14_9, P14_10.Pregunta as SL_PREG14_10, P14_11.Pregunta as SL_PREG14_11, P14_12.Pregunta as SL_PREG14_12, P15.Pregunta AS SL_PREG15, P16.Pregunta AS SL_PREG16, P17_1.Pregunta AS SL_PREG17_1,  P17_2.Pregunta AS SL_PREG17_2, 
P17_3.Pregunta AS SL_PREG17_3, P17_4.Pregunta AS SL_PREG17_4, P17_5.Pregunta AS SL_PREG17_5, P17_6.Pregunta AS SL_PREG17_6, P17_7.Pregunta AS SL_PREG17_7, P17_8.Pregunta AS SL_PREG17_8, P17_9.Pregunta AS SL_PREG17_9, P17_10.Pregunta AS SL_PREG17_10, 
P17_11.Pregunta AS SL_PREG17_11, P18_1.Pregunta AS SL_PREG18_1, P18_2.Pregunta AS SL_PREG18_2, P18_3.Pregunta AS SL_PREG18_3, P18_4.Pregunta AS SL_PREG18_4, P18_5.Pregunta AS SL_PREG18_5, P18_6.Pregunta AS SL_PREG18_6, P18_7.Pregunta AS SL_PREG18_7, 
P18_8.Pregunta AS SL_PREG18_8, P18_9.Pregunta AS SL_PREG18_9, P18_10.Pregunta AS SL_PREG18_10, P18_11.Pregunta AS SL_PREG18_11, P19_1.Pregunta AS SL_PREG19_1, P19_2.Pregunta AS SL_PREG19_2, P19_3.Pregunta AS SL_PREG19_3, P19_4.Pregunta AS SL_PREG19_4, 
P19_5.Pregunta AS SL_PREG19_5, P19_6.Pregunta AS SL_PREG19_6, P19_7.Pregunta AS SL_PREG19_7, P19_8.Pregunta AS SL_PREG19_8, P19_9.Pregunta AS SL_PREG19_9, P19_10.Pregunta AS SL_PREG19_10, P20_1.Pregunta AS SL_PREG20_1, P20_2.Pregunta AS SL_PREG20_2, 
P20_3.Pregunta AS SL_PREG20_3, P20_4.Pregunta AS SL_PREG20_4, P20_5.Pregunta AS SL_PREG20_5, P20_6.Pregunta AS SL_PREG20_6, P20_7.Pregunta AS SL_PREG20_7, P20_8.Pregunta AS SL_PREG20_8, P20_9.Pregunta AS SL_PREG20_9, P20_10.Pregunta AS SL_PREG20_10, 
P20_11.Pregunta AS SL_PREG20_11, P20_12.Pregunta AS SL_PREG20_12, P20_13.Pregunta AS SL_PREG20_13, P21.Pregunta AS SL_PREG21, P22.Pregunta AS SL_PREG22, AREA.NombreArea, AñoInico1.Año as AñoInico, AñoFin2.Año as AñoFin
FROM PREGUNTAS
INNER JOIN AREA ON PREGUNTAS.IdArea = AREA.IdArea
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS ESTADOCIVIL ON PREGUNTAS.DG_EstadoCivil = ESTADOCIVIL.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS NIVELESCOLAR ON PREGUNTAS.DG_UltimoNivelEscolar = NIVELESCOLAR.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS INSTITUTOACTUAL ON PREGUNTAS.DG_InstitucionEstudiasActualmente = INSTITUTOACTUAL.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P1 ON PREGUNTAS.SL_PREG1 = P1.IdPreguntaEstablecida
--INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P2 ON PREGUNTAS.SL_PREG2 = P2.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P3 ON PREGUNTAS.SL_PREG3 = P3.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P4 ON PREGUNTAS.SL_PREG4 = P4.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P5_1 ON PREGUNTAS.SL_PREG5_1 = P5_1.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P5_2 ON PREGUNTAS.SL_PREG5_2 = P5_2.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P5_3 ON PREGUNTAS.SL_PREG5_3 = P5_3.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P5_4 ON PREGUNTAS.SL_PREG5_4 = P5_4.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P5_5 ON PREGUNTAS.SL_PREG5_5 = P5_5.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P7 ON PREGUNTAS.SL_PREG7 = P7.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P8 ON PREGUNTAS.SL_PREG8 = P8.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P9 ON PREGUNTAS.SL_PREG9 = P9.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P10 ON PREGUNTAS.SL_PREG10 = P10.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P11 ON PREGUNTAS.SL_PREG11 = P11.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P12 ON PREGUNTAS.SL_PREG12 = P12.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P13 ON PREGUNTAS.SL_PREG13 = P13.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_1 ON PREGUNTAS.SL_PREG14_1 = P14_1.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_2 ON PREGUNTAS.SL_PREG14_2 = P14_2.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_3 ON PREGUNTAS.SL_PREG14_3 = P14_3.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_4 ON PREGUNTAS.SL_PREG14_4 = P14_4.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_5 ON PREGUNTAS.SL_PREG14_5 = P14_5.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_6 ON PREGUNTAS.SL_PREG14_6 = P14_6.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_7 ON PREGUNTAS.SL_PREG14_7 = P14_7.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_8 ON PREGUNTAS.SL_PREG14_8 = P14_8.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_9 ON PREGUNTAS.SL_PREG14_9 = P14_9.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_10 ON PREGUNTAS.SL_PREG14_10 = P14_10.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_11 ON PREGUNTAS.SL_PREG14_11 = P14_11.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P14_12 ON PREGUNTAS.SL_PREG14_12 = P14_12.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P15 ON PREGUNTAS.SL_PREG15 = P15.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P16 ON PREGUNTAS.SL_PREG16 = P16.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P17_1 ON PREGUNTAS.SL_PREG17_1 = P17_1.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P17_2 ON PREGUNTAS.SL_PREG17_2 = P17_2.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P17_3 ON PREGUNTAS.SL_PREG17_3 = P17_3.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P17_4 ON PREGUNTAS.SL_PREG17_4 = P17_4.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P17_5 ON PREGUNTAS.SL_PREG17_5 = P17_5.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P17_6 ON PREGUNTAS.SL_PREG17_6 = P17_6.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P17_7 ON PREGUNTAS.SL_PREG17_7 = P17_7.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P17_8 ON PREGUNTAS.SL_PREG17_8 = P17_8.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P17_9 ON PREGUNTAS.SL_PREG17_9 = P17_9.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P17_10 ON PREGUNTAS.SL_PREG17_10 = P17_10.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P17_11 ON PREGUNTAS.SL_PREG17_11 = P17_11.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P18_1 ON PREGUNTAS.SL_PREG18_1 = P18_1.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P18_2 ON PREGUNTAS.SL_PREG18_2 = P18_2.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P18_3 ON PREGUNTAS.SL_PREG18_3 = P18_3.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P18_4 ON PREGUNTAS.SL_PREG18_4 = P18_4.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P18_5 ON PREGUNTAS.SL_PREG18_5 = P18_5.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P18_6 ON PREGUNTAS.SL_PREG18_6 = P18_6.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P18_7 ON PREGUNTAS.SL_PREG18_7 = P18_7.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P18_8 ON PREGUNTAS.SL_PREG18_8 = P18_8.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P18_9 ON PREGUNTAS.SL_PREG18_9 = P18_9.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P18_10 ON PREGUNTAS.SL_PREG18_10 = P18_10.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P18_11 ON PREGUNTAS.SL_PREG18_11 = P18_11.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P19_1 ON PREGUNTAS.SL_PREG19_1 = P19_1.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P19_2 ON PREGUNTAS.SL_PREG19_2 = P19_2.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P19_3 ON PREGUNTAS.SL_PREG19_3 = P19_3.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P19_4 ON PREGUNTAS.SL_PREG19_4 = P19_4.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P19_5 ON PREGUNTAS.SL_PREG19_5 = P19_5.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P19_6 ON PREGUNTAS.SL_PREG19_6 = P19_6.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P19_7 ON PREGUNTAS.SL_PREG19_7 = P19_7.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P19_8 ON PREGUNTAS.SL_PREG19_8 = P19_8.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P19_9 ON PREGUNTAS.SL_PREG19_9 = P19_9.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P19_10 ON PREGUNTAS.SL_PREG19_10 = P19_10.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_1 ON PREGUNTAS.SL_PREG20_1 = P20_1.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_2 ON PREGUNTAS.SL_PREG20_2 = P20_2.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_3 ON PREGUNTAS.SL_PREG20_3 = P20_3.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_4 ON PREGUNTAS.SL_PREG20_4 = P20_4.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_5 ON PREGUNTAS.SL_PREG20_5 = P20_5.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_6 ON PREGUNTAS.SL_PREG20_6 = P20_6.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_7 ON PREGUNTAS.SL_PREG20_7 = P20_7.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_8 ON PREGUNTAS.SL_PREG20_8 = P20_8.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_9 ON PREGUNTAS.SL_PREG20_9 = P20_9.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_10 ON PREGUNTAS.SL_PREG20_10 = P20_10.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_11 ON PREGUNTAS.SL_PREG20_11 = P20_11.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_12 ON PREGUNTAS.SL_PREG20_12 = P20_12.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P20_13 ON PREGUNTAS.SL_PREG20_13 = P20_13.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P21 ON PREGUNTAS.SL_PREG21 = P21.IdPreguntaEstablecida
INNER JOIN PREGUNTAS_ESTABLECIDAS  AS P22 ON PREGUNTAS.SL_PREG22 = P22.IdPreguntaEstablecida
INNER JOIN AÑO AS AñoInico1 ON PREGUNTAS.AñoInico = AñoInico1.IdAño
INNER JOIN AÑO  AS AñoFin2 ON PREGUNTAS.AñoFin = AñoFin2.IdAño
END
