USE [SEGUIMIENTO_EGRESADOS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPreguntasViewModel]    Script Date: 7/22/2022 2:23:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ObtenerPreguntasViewModel]
AS
BEGIN
SELECT 
PREGUNTAS.IdPregunta, PREGUNTAS.IP_Nombres, PREGUNTAS.IP_ApellidoPaterno, PREGUNTAS.IP_ApellidoMaterno, PREGUNTAS.IP_Matricula, PREGUNTAS.IP_CorreoElectronicoPersonal, PREGUNTAS.IP_NumeroTelefono, 
PREGUNTAS.DG_EstadoCivil, PREGUNTAS.DG_UltimoNivelEscolar, PREGUNTAS.DG_InstitucionEstudiasActualmente, PREGUNTAS.SL_PREG1, PREGUNTAS.SL_PREG2, PREGUNTAS.SL_PREG3, PREGUNTAS.SL_PREG4, 
PREGUNTAS.SL_PREG5_1, PREGUNTAS.SL_PREG5_2, PREGUNTAS.SL_PREG5_3, PREGUNTAS.SL_PREG5_4, PREGUNTAS.SL_PREG5_5, PREGUNTAS.SL_PREG6_1_NombreEmpresa, PREGUNTAS.SL_PREG6_2_Municipio, 
PREGUNTAS.SL_PREG6_3_Estado, PREGUNTAS.SL_PREG7, PREGUNTAS.SL_PREG8, PREGUNTAS.SL_PREG9, PREGUNTAS.SL_PREG10, PREGUNTAS.SL_PREG11, PREGUNTAS.SL_PREG12, PREGUNTAS.SL_PREG13, 
PREGUNTAS.SL_PREG14_1,  PREGUNTAS.SL_PREG14_2, PREGUNTAS.SL_PREG14_3, PREGUNTAS.SL_PREG14_4, PREGUNTAS.SL_PREG14_5, PREGUNTAS.SL_PREG14_6, PREGUNTAS.SL_PREG14_7, PREGUNTAS.SL_PREG14_8, 
PREGUNTAS.SL_PREG14_9, PREGUNTAS.SL_PREG14_10, PREGUNTAS.SL_PREG14_11, PREGUNTAS.SL_PREG14_12, PREGUNTAS.SL_PREG15, PREGUNTAS.SL_PREG16, PREGUNTAS.SL_PREG17_1,  PREGUNTAS.SL_PREG17_2, 
PREGUNTAS.SL_PREG17_3, PREGUNTAS.SL_PREG17_4, PREGUNTAS.SL_PREG17_5, PREGUNTAS.SL_PREG17_6, PREGUNTAS.SL_PREG17_7, PREGUNTAS.SL_PREG17_8, PREGUNTAS.SL_PREG17_9, PREGUNTAS.SL_PREG17_10, 
PREGUNTAS.SL_PREG17_11, PREGUNTAS.SL_PREG18_1, PREGUNTAS.SL_PREG18_2, PREGUNTAS.SL_PREG18_3, PREGUNTAS.SL_PREG18_4, PREGUNTAS.SL_PREG18_5, PREGUNTAS.SL_PREG18_6, PREGUNTAS.SL_PREG18_7, 
PREGUNTAS.SL_PREG18_8, PREGUNTAS.SL_PREG18_9, PREGUNTAS.SL_PREG18_10, PREGUNTAS.SL_PREG18_11, PREGUNTAS.SL_PREG19_1, PREGUNTAS.SL_PREG19_2, PREGUNTAS.SL_PREG19_3, PREGUNTAS.SL_PREG19_4, 
PREGUNTAS.SL_PREG19_5, PREGUNTAS.SL_PREG19_6, PREGUNTAS.SL_PREG19_7, PREGUNTAS.SL_PREG19_8, PREGUNTAS.SL_PREG19_9, PREGUNTAS.SL_PREG19_10, PREGUNTAS.SL_PREG20_1, PREGUNTAS.SL_PREG20_2, 
PREGUNTAS.SL_PREG20_3, PREGUNTAS.SL_PREG20_4, PREGUNTAS.SL_PREG20_5, PREGUNTAS.SL_PREG20_6, PREGUNTAS.SL_PREG20_7, PREGUNTAS.SL_PREG20_8, PREGUNTAS.SL_PREG20_9, PREGUNTAS.SL_PREG20_10, 
PREGUNTAS.SL_PREG20_11, PREGUNTAS.SL_PREG20_12, PREGUNTAS.SL_PREG20_13, PREGUNTAS.SL_PREG21, PREGUNTAS.SL_PREG22, AREA.NombreArea, PREGUNTAS.AñoInico, PREGUNTAS.AñoFin
FROM PREGUNTAS
INNER JOIN AREA ON PREGUNTAS.IdArea = AREA.IdArea;
END
